{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "dynamic-import-node",
    "@babel/plugin-syntax-dynamic-import"
  ]
}